trend_hunter/n8n/workflow_saas_pipeline.json
{
  "name": "SaaS Ideas Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "command": "cd /path/to/project && python -c \"import asyncio; from trend_hunter.saas_pipeline import collect_all_data; asyncio.run(collect_all_data())\""
      },
      "id": "collect-data",
      "name": "Collect Data (Python)",
      "type": "n8n-nodes-base.executeCommand",
      "position": [450, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "/path/to/project/trend_hunter/data/raw_latest.json",
        "options": {}
      },
      "id": "read-raw-data",
      "name": "Read Raw Data",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [650, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-haiku-20240307"
            },
            {
              "name": "max_tokens",
              "value": "4096"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{role: 'user', content: 'Analyze this data and find SaaS ideas: ' + $json.data}]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-analyze",
      "name": "Claude AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [850, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "={{ $json.body.content[0].text }}",
        "options": {}
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "position": [1050, 300],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚀 **SaaS Ideas Report**\n\n{{ $json.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [1250, 300],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "fileName": "=/path/to/project/trend_hunter/data/report_{{ $now.format('yyyy-MM-dd') }}.json",
        "dataPropertyName": "content"
      },
      "id": "save-report",
      "name": "Save Report",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [1250, 450],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Collect Data (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Data (Python)": {
      "main": [
        [
          {
            "node": "Read Raw Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Raw Data": {
      "main": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["saas", "automation", "ai"],
  "triggerCount": 1,
  "updatedAt": "2026-01-16T00:00:00.000Z",
  "versionId": "1"
}
